.cart {
    background-color: rgb(179, 179, 179);
    padding: 45px;
    position: sticky;
    top: 0;
    margin-top: 110px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.cart h2 {
    color: rgb(0, 0, 6);
}

.cart h3 {

    color: blue;
}

.cart-items {
    margin-top: 50px;
    padding-right: 23px;

}

.cart-items h2 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 0.005em;
    color: black;
}

.cart-read h2 {
    border-radius: 10px;
    padding: 15px;
    background-color: #e5e5e5;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.cart-read h3 {
    border-radius: 10px;
    padding: 15px;
    background-color: #e5e5e5;

}