.main-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: rgb(251, 250, 248);

}

.Knowledge-container {
    display: grid;
    grid-template-columns: 3fr;
    margin: 110px;
    gap: 45px;


}